<article class="post">
    <header class="post-header home">
        <div class="post-title">Profile</div>
        <style>
            .tags span::after{
                content: ",";
            }
            .tags span:last-child::after{
                content: none;
            }
            .post-content{
                margin: 25px 0px;
                font-size: 12px;
            }
            .post-content th{
                background-color: #ccc;
            }
            .post-content td{
                padding: 5px 10px;
            }
            caption{
                font-weight: bold;
                font-size: 2em;
                margin: 10px;
            }
            .post-content table td{
                /* width: 100%; */
            }
        </style>
    </header>

    <div class="post-content">
        <table>
            <caption>인적 사항</caption>
            <tr>
                <td>
                    <img width="150px" src="https://image.onethelab.com/original/profile_portrait.png" />
                </td>
                <td>
                    조건희
                    gh.cho@onethelab.com
                </td>
            </tr>
        </table>
    </div>
    <div class="post-content">
        <table>
            <caption>소개</caption>
            <tr>
                <th>전시 하드웨어 소프트웨어 개발자, 프로그래밍 과목 강의자</th>
            </tr>
            <tr>
                <td>
                    2008년부터 16년차 웹개발자, 전시 콘텐츠 프로그래머로서 다양한 프로젝트 경험을 가지고 있습니다. <br />
                    전시 콘텐츠 제작,  하드웨어 소프트웨어 제작, 프론트엔드 개발, 시리얼 통신, 뉴미디어 전시, 물리컴퓨팅, 노드방식 개발툴 등 다양한 경험을 가지고 있습니다. <br />
                    전문지식과 책임감을 가지고 프로젝트를 성공적으로 완수합니다. <br />
                </td>
            </tr>
            <tr>
                <td>
                    2015년부터 9년차 교육 경력을 가지고 있으며, 계원예술대학교, 명지전문대학교에서 웹퍼블리싱, 콘텐츠 프로그래밍, 미디어와 테크놀로지, 피지컬컴퓨팅스튜디오, 프로젝트스튜디오, 디지털퍼블리싱, HTML디자인 등 다양한 강의 경력을 가지고 있습니다. <br />
                    학생들에게 전문적인 지식을 전달하고, 실무에 필요한 기술을 가르치며, 학생들의 창의적인 사고를 유도합니다. <br />
                </td>
            </tr>
        </table>
    </div>

    <div class="post-content">
        <table>
            <caption>학력</caption>
            <tr>
                <th>학교</th>
                <th>전공</th>
                <th>학위</th>
                <th>날짜</th>
                <th>비고</th>
            </tr>
            <tr>
                <td>홍익대학교 영상대학원</td>
                <td>게임콘텐츠과</td>
                <td>석사</td>
                <td>2016.02</td>
                <td>수료</td>
            </tr>
            <tr>
                <td>학점은행제</td>
                <td>멀티미디어학</td>
                <td>학사</td>
                <td>2012.02</td>
                <td>졸업</td>
            </tr>
            <tr>
                <td>계원예술대학교</td>
                <td>멀티미디어디자인</td>
                <td>전문학사</td>
                <td>2008.02</td>
                <td>졸업</td>
            </tr>
        </table>
    </div>

    <div class="post-content">
        <table>
            <caption>재직</caption>
            <tr>
                <th>재직처</th>
                <th>기간</th>
                <th>담당업무</th>
            </tr>
            {%- if site.posts.size > 0 -%}
            {%- for post in site.posts -%}
                {% if post.categories[0] == "company" %}
                <tr>
                    <td>{{ post.title | escape }}</td>
                    <td>
                        {%- assign date_format = "%Y/%m" -%}
                        {{ post.period }}
                    </td>
                    <td class="tags">
                        {% for work in post.work %}
                            <span>{{ work }}</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            {%- endfor -%}
            {%- endif -%}
        </table>
    </div>
  
    <div class="post-content">
        <table>
            <caption> 프로젝트 경력 (2008. 02. ~ 현재, 16년차)</caption>
            <tr>
                <th>프로젝트 명</th>
                <th>년월</th>
                <th>참여 유형</th>
            </tr>
            {%- if site.posts.size > 0 -%}
            {%- for post in site.posts -%}
                {% if post.categories[0] == "portfolio" %}
                <tr>
                    <td>{{ post.title | escape }}</td>
                    <td>
                        {%- assign date_format = "%Y/%m" -%}
                        {{ post.date | date: date_format }}
                    </td>
                    <td class="tags">
                        {% for tag in post.tags %}
                            <span>{{ tag }}</span>
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
            {%- endfor -%}
            {%- endif -%}
            <tr>
                <td colspan="3">
                    <ul>
                        <li>VUAL쇼룸 리뉴얼 2014 3 ~ 2014 5 컨텐츠 개발(미디어 월) 이트라이브</li>
                        <li>2013 코리아 브랜드 & 한류상품박람회 2013 10 ~ 2013 11 전시참가 KOCCA</li>
                        <li>삼성셩명(웹접근성) 2013 5 ~ 2013 9 플래시 웹접근성 삼성생명 </li>
                        <li>LG디스플레이(웹접근성) 2012 4 ~ 2013 5 플래시 웹접근성 LG디스플레이 </li>
                        <li>파스퇴르 2012 8 ~ 2012 9 사이버투어 개발 파스퇴르 </li>
                        <li>삼성화재 슈퍼플러스 2012 4 ~ 2012 5 페이스북 이벤트 삼성화재 </li>
                        <li>LG GLOW 2012 4 ~ 2012 4 기능/양식 추가 LG CNS </li>
                        <li>롯데인제개발원 2012 2 ~ 2012 4 플래시 개발 롯데 </li>
                        <li>삼광유리 2012 1 ~ 2012 3 플래시 개발  삼광유리  </li>
                        <li>이자녹스 2011 4 ~ 2011 8 사이트 개발 이자녹스 </li>
                        <li>티켓11번가 2010 11 ~ 2010 12 사이트 개발 </li>
                        <li>SKT HF(한국주택 금융공사) 2010 10 ~ 2010 11 사이트 개발 HF </li>
                        <li>네스캡 2010 9 ~ 2010 9 사이트 개발 네스캡 </li>
                        <li>KB 카드 GSP(부분) 2010 8 ~ 2010 8 GNB 리뉴얼 작업 KB </li>
                        <li>기아 스포티지R 2010 4 ~ 2010 4 메인 페이지 개발 기아 </li>
                        <li>미니코크위젯 2010 1 ~ 2010 3 블로그위젯 개발 한국코카콜라 </li>
                        <li>코카콜라통합브랜드2010 2009 12 ~ 2010 1 메인 페이지 개발 한국코카콜라 </li>
                        <li>SKW 2009 10 ~ 2009 11 메인 효과, 멀티부분 SKT </li>
                        <li>기아쏘울 2009 8 ~ 2009 8 멀티부분개발 기아 </li>
                        <li>밀러맥주 2009 5 ~ 2009 5 메인 페이지 개발 밀러 </li>
                        <li>코크플레이 2009 2009 4 ~ 2009 4 서브 페이지 개발 한국코카콜라 </li>
                        <li>코크폰 2009 3 ~ 2009 3 사이트 개발 한국코카콜라 </li>
                        <li>시티투어 2008 12 ~ 2008 12 플래시 개발 시티투어 </li>
                        <li>TTL 2008 8 ~ 2008 10 사이트 개발 SKT </li>
                        <li>코카콜라컴퍼니 2008 7 ~ 2008 7 사이트 개발 한국코카콜라 </li>
                        <li>코카콜라통합브랜드 2008 5 ~ 2008 5 TVCF부분 개발 한국코카콜라</li> 
                        <li>XQ Optimo nova 2008 2 ~ 2008 3 사이트 개발 한국타이어</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    <div class="post-content">
        <table>
            <caption> 교육 경력 (2015. 03. ~ 현재, 9년차)</caption>
            <tr>
                <td colspan="7">
                    <ul>
                    <li>데스크탑 어플리케이션 개발 (unity, c# script, flash)</li>
                    <li>프론트 엔드 개발 기초(html, css, javascript)</li>
                    <li>백엔드 개발 기초 (php, mysql)</li>
                    <li>피지컬 컴퓨팅, 뉴미디어 전시 (arduino)</li>
                    <li>노드방식 개발툴 (vvvv)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>강의명</th>
                <th>년월</th>
                <th>수업내용</th>
                <th>시수</th>
                <th>학년</th>
                <th>학급</th>
                <th>학교</th>
            </tr>
            <tr>
                <td>포트폴리오</td>
                <td>2024년 2학기</td>
                <td>포트폴리오</td>
                <td>4</td>
                <td>2</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>피지컬컴퓨팅스튜디오</td>
                <td>2024년 2학기</td>
                <td>Unity3d, c# script, VR</td>
                <td>4</td>
                <td>3</td>
                <td>1</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>■ 2024 신기술분야 전문과 과정 연수, 가상공간 구현 수업설계</td>
                <td>2024년 8월 4일</td>
                <td>Unity3d, c# script, AI, ChatGPT API</td>
                <td>12</td>
                <td> </td>
                <td>1</td>
                <td>에이블런</td>
            </tr>
            <tr>
                <td>실감미디어기초</td>
                <td>2024년 1학기</td>
                <td>Unity3d, c# script</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>웹퍼블리싱</td>
                <td>2023년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>졸업작품스튜디오</td>
                <td>2023년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>2</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>실감미디어기초</td>
                <td>2023년 1학기</td>
                <td>Unity3d, c# script</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>웹퍼블리싱</td>
                <td>2022년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>졸업작품스튜디오</td>
                <td>2022년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>2</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>실감미디어기초</td>
                <td>2022년 1학기</td>
                <td>Unity3d, c# script</td>
                <td>4</td>
                <td>1</td>
                <td>3</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>웹퍼블리싱</td>
                <td>2021년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>1</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td>졸업작품스튜디오</td>
                <td>2021년 2학기</td>
                <td>HTML, CSS</td>
                <td>4</td>
                <td>2</td>
                <td>2</td>
                <td>계원예술대학교</td>
            </tr>
            <tr>
                <td colspan="7">
                    <h3>계원예술대학교 출강</h3>
                    ‣2015 1학기 ‘미디어와 테크놀로지(flash actionscript)’ 강의 (4차수 15주 4학급) <br />
                    ‣2015 2학기 ‘콘텐츠 프로그래밍(html, css)’ 강의 (4차수 15주 2학급) <br />
                    ‘미디어 프로그래밍2(php, mysql)’ 강의 (4차수 16주 1학급)<br />
                    ‣2016 1학기 ‘미디어와 테크놀로지(flash actionscript)’ 강의 (4차수 15주 4학급)<br />
                    ‣2016 2학기 ‘콘텐츠 프로그래밍(html, css)’ 강의 (4차수 15주 2학급)<br />
                    ‘미디어 프로그래밍2(php, mysql)’  강의 (4차수 15주 1학급)<br />
                    ‣2017 1학기 ‘미디어와 테크놀로지(unity c# script)’ 강의 (4차수 15주 3학급)<br />
                    ‘웹표준 퍼블리싱(html, css)’ 강의 (4차수 15주 1학급)<br />
                    ‣2017 2학기 ‘콘텐츠 프로그래밍(html, css) 강의 (4차수 15주 3학급)<br />
                    ‘미디어 프로그래밍2(php, mysql)’ 강의 (4차수 15주 1학급)<br />
                    ‣2018 1학기 ‘미디어와 테크놀로지(unity c# script)’ 강의 (4차수 15주 3학급)<br />
                    ‘이노베이션 스튜디오(vvvv, arduino)’ 강의 (4차수 15주 1학급)<br />
                    ‣2018 2학기 ‘콘텐츠 프로그래밍(html, css)’ 강의 (4차수 15주 2학급)<br />
                    ‘컨버젼스 스튜디오(vvvv, arduino)’ 강의 (4차수 15주 1학급)<br />
                    ‣2019 1학기 ‘미디어와 테크놀로지(unity c# script)’ 강의 (4차수 15주 3학급)<br />
                    ‣2019 2학기 ‘콘텐츠 프로그래밍(html, css)’ 강의 (4차수 15주 2학급)<br />
                    ‘피지컬컴퓨팅스튜디오(unity, Arduino)’ 강의(4차수 15주 1학급)<br />
                    <h3>명지전문대학교 출강</h3>
                    ‘디지털퍼블리싱2(html, css)’ 강의 (3차수 15주 2학급)<br />
                    ‘HTML디자인 (html, css)’ 강의(3차수 15주 1학급)<br />
                    ‣2020 1학기 ‘미디어와 테크놀로지(unity c# script)’ 강의 (4차수 15주 2학급)<br />
                    ‘프로젝트스튜디오(뉴미디어 프로젝트)’ 강의(4차수 15주 1학급)<br />
                    ‘디지털퍼블리싱1(html, css)’ 강의 (3차수 15주 2학급)<br />
                    ‘디자인코딩’(html,css) 강의(3차수 15주 1학급)<br />
                    ‣2020 2학기 ‘콘텐츠 프로그래밍(html, css)’ 강의 (4차수 15주 2학급)<br />
                    ‘프로젝트스튜디오2(뉴미디어 프로젝트)’ 강의(4차수 15주 1학급)<br />
                    ‘디지털퍼블리싱2(html,css)’ 강의 (3차수 15주 2학급)<br />
                    ‘HTML디자인 (html, css)’ 강의(3차수 15주 1학급)<br />
                </td>
            </tr>
        </table>
    </div>
</article>

* 마지막 업데이트 일자 2024-10-15

<script src="/public/js/jquery-3.4.1.slim.min.js"></script>
<script>
	function removeCategory() {
        let hash = "portfolio";
        $('#category-name').text(hash.substring(0, 1).toUpperCase() + hash.substring(1));
        let category_class = '.post-category-' + hash;
        let items = $('.post-list-item').each((i, e) => {
            if (!$(e).hasClass('post-category-' + hash)) {
                $(e).hide();
            } else {
                $(e).show();
            }
        });
    }
	$(window).on('hashchange', () => {
		removeCategory();
	});
	$(document).ready(() => {
		removeCategory();	
	})
    console.log($(".title_image"));
    $(".title_image").each(function(index,item){
        if(this.complete){
            this.classList.add('loaded');
        }
        this.onload = function(){
            this.classList.add('loaded');
        }
    });
</script>
  