<article class="post">
	<header class="post-header">
		<div class="post-title"> 
			{{ page.title | escape }}
			<a target="_blank" href="https://github.com/gunug/gunug.github.io/blob/main/{{page.path}}"><img width="15px" src="/public/img/Git-Icon-Black.png" /></a>
		</div>
		<time class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.date_forma | default: "%Y/%m/%d" -%}
			{{ page.date | date: date_format }}
		</time><br />
		{% for tag in page.tags %}
		<a class="nav-item post-tag" href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}">
			<span class="name">{{ tag }}</span>
		</a>
		{% endfor %}
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<script>
		// 모든 <code> 요소를 선택
		const codeElements = document.querySelectorAll('code');

		// 각 <code> 요소에 클릭 이벤트 리스너 추가
		codeElements.forEach(function(codeElement) {
			// 새로운 <div> 요소 생성
			const newDiv = document.createElement('div');
			newDiv.style = 'color: white; cursor: pointer; display: inline-block; border-radius: 3px; padding: 2px; background-color: #007bff; font-size: 0.7em; margin: 4px;';
			newDiv.innerHTML = 'copy code';
			codeElement.appendChild(newDiv);
			// 클릭 이벤트 리스너 추가
			newDiv.addEventListener('click', function() {
				// 코드 내용 가져오기
				const codeText = codeElement.innerText;

				// 클립보드에 코드 내용 복사
				navigator.clipboard.writeText(codeText)
				.then(function() {
					// 복사가 성공적으로 완료됨
					alert('코드가 클립보드에 복사되었습니다!');
				})
				.catch(function(err) {
					// 복사 중 에러 발생
					alert('코드를 클립보드에 복사하는 중 오류가 발생했습니다: ' + err);
				});
			});
		});
    </script>
</article>


